@use "../App.scss" as App;

.footer {
   padding: 1.2rem 0;
   text-align: center;
   background-color: App.$lightgrey;
   border-top: 2px solid #e3e3e3;

   a {
      border-bottom: 2px solid #000000;
   }
}
