$lightgrey: #f2f2f2;

@font-face {
   font-family: "Minecraft";
   src: url("./assets/fonts/Minecraft.otf");
}

* {
   margin: 0;
   padding: 0;
   list-style: none;
   box-sizing: border-box;
}

body {
   background-color: #ffffff;
   line-height: 1.5;
   -webkit-font-smoothing: antialiased;
   font-family: "Readex Pro", sans-serif;
   padding-top: 72.8px;
}

a {
   color: #000;
   display: block;
   text-decoration: none;
}

img,
canvas,
svg {
   display: block;
   height: auto;
   max-width: 100%;
}

input,
button {
   font: inherit;
}

input {
   outline: none;
}

button {
   cursor: pointer;
}

p,
h1,
h2 {
   overflow-wrap: break-word;
}

#root {
   isolation: isolate;
}

.container {
   max-width: 64rem;
   margin: 0 auto;
}
